@import "tailwindcss";
body {
  background: radial-gradient(circle at top, #111827, #020617);
}

@keyframes floatGlow {
  0% {
    transform: translateY(0px) translateX(0px);
  }

  50% {
    transform: translateY(-30px) translateX(20px);
  }

  100% {
    transform: translateY(0px) translateX(0px);
  }
}

.glow-animation {
  animation: floatGlow 12s ease-in-out infinite;
}